.container {
    -fx-background-color: #EEEEEE;
}

.total {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.total TextField {
    -fx-background-color: rgba(19, 42, 19, 0.05);
    -fx-background-radius: 6px;
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.total Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.1em;
    -fx-graphic-text-gap: 7px;
}

.total Button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.total Button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

.title {
    -fx-spacing: 10px;
}

.title Text {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
}

.title FontAwesomeIconView {
    -fx-fill: #132A13;
}

.normal_text {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.1em;
}

.bold_text {
    -fx-text-fill: #4A6B4A;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.1em;
    -fx-font-weight: bold;
}

.edit_text {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.1em;
    -fx-font-weight: bold;
}

.fontaws {
    -fx-fill: #4A6B4A;
}

.edit_fontaws {
    -fx-fill: #132A13;
}