.dashboard {
    -fx-background-color: #EEEEEE;
}

/* SCROLL PANE */
.scroll-pane {
    -fx-border-color: #132A13;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #FFFFFF;
}

.scroll-pane .viewport {
    -fx-background-color: rgba(19, 42, 19, 0.1);
}

/* con lăn */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #132A13;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 7, 0.5, 0, 0);
}

/* hover con lăn */
.scroll-pane .scroll-bar:horizontal .thumb:hover,
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #1A4314;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

/* thanh cuộn */
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #FFFFFF;
    -fx-padding: 2px;
}

/* nhấn vào thanh cuộn */
.scroll-pane .scroll-bar:horizontal .thumb:pressed,
.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #0B4619;
    -fx-opacity: 1.0;
}

/* Định dạng cho toàn bộ table view */
.table-view {
    -fx-background-color: white;
    -fx-sticky: column;
}

/* Định dạng cho toàn bộ table view cột */
.table-view .column-header {
    -fx-background-color: white;
    -fx-border-width: 0 0.25 1px 0;
    -fx-border-color: gray;
}

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-cell[text="Available"] {
    -fx-background-color: #C2FDD0;
    -fx-text-fill: black;
}

.table-cell[text="Over"] {
    -fx-background-color: #FBCDCD;
    -fx-text-fill: black;
}

.table-cell:contains("edit"):hover {
    -fx-background-color: lightblue;
    -fx-cursor: hand;
}

/* dòng tiêu đề */
#Title {
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 3em;
}

.miniTitle{
    -fx-font-family: "Book Antiqua";
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.statistic {
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
}

.statistictitle {
    -fx-font-family: "GeistSans";
    -fx-font-size: 15px;
    -fx-font-color: black;
}

.number {
    -fx-font-family: "GeistSans";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.number-error {
    -fx-font-family: "GeistSans";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.progress-bar {
    -fx-accent: black;     /* Màu của thanh tiến trình */
    -fx-control-inner-background: #F7F7F9; /* Màu nền */
}

