.dashboard {
    -fx-background-color: #EEEEEE;
}

/* 4 mục thống kê */
.stat_tbl_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-padding: 5px 0 5px 0;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.stat_tbl {
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA, 10, 0, 0, 10);
}

.stat_tbl VBox {
    -fx-background-color: #FFFFFF;
}

.stat_tbl FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.stat_tbl_gradient {
    -fx-background-color: linear-gradient(to right, #132A13, #253F25);
}

.stat_tbl_title {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 2.0em;
    -fx-font-weight: bold;
}

.stat_tbl_number {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri";
    -fx-font-size: 1.9em;
}

/* SCROLL PANE */
.scroll-pane {
    -fx-background-color: transparent;
}

.fix_mau {
    -fx-background-color: transparent;
}

.fix_mau2 {
    -fx-background-color: #EEEEEE;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* con lăn */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #132A13;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 7, 0.5, 0, 0);
}

/* hover con lăn */
.scroll-pane .scroll-bar:horizontal .thumb:hover,
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #1A4314;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

/* thanh cuộn */
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #FFFFFF;
    -fx-padding: 2px;
}

/* nhấn vào thanh cuộn */
.scroll-pane .scroll-bar:horizontal .thumb:pressed,
.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #0B4619;
    -fx-opacity: 1.0;
}

/* Định dạng cho toàn bộ table view */
.table-view {
    -fx-background-color: white;
    -fx-sticky: column;
}

/* Định dạng cho toàn bộ table view cột */
.table-view .column-header {
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-font-size: 14px;
}

.table-view .table-row-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-weight: 0;
}
.table-view .table-cell {
    -fx-alignment: CENTER;        /* Căn giữa nội dung */
    -fx-text-overrun: ellipsis;   /* Hiển thị dấu chấm khi vượt quá chiều rộng */
    -fx-padding: 10px;               /* Khoảng cách nội dung trong cell */
    -fx-wrap-text: false;         /* Không cho phép xuống dòng */
    -fx-font-family: "Arial";     /* Font chữ */
    -fx-font-size: 13px;          /* Kích thước chữ */
    -fx-border-color: transparent;
}

.table-view .cell {
    -fx-alignment: CENTER; /* Căn giữa nội dung */
    -fx-padding: 0;        /* Xóa padding thừa */
    -fx-border-color: transparent;
}


/*.table-view .table-row-cell:selected {
    -fx-background-color: #C6E7F3;
    -fx-font-weight: bold;
}*/

.status-cell {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.status-cell.in-stock {
    -fx-background-color: lightgreen;
    -fx-text-fill: green;
}

.status-cell.out-of-stock {
    -fx-background-color: lightcoral;
    -fx-text-fill: white;
}

/* thống kê chủ đề */
.statistic {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-padding: 5px 0 5px 0;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.statistic .tit {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:2.0em;
    -fx-font-weight: bold;
}

.statistic .cont {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.5em;
}

.statistic .num {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.2em;
}

.progress-bar {
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.progress-bar .track {
    -fx-background-color: #D1E2C4;
    -fx-background-radius: 15px;
}

.progress-bar .bar {
    -fx-background-radius: 15px;
}

.cage1 {
    -fx-accent: #3A5A40;
}

.cage2 {
    -fx-accent: #588157;
}

.cage3 {
    -fx-accent: #A3B18A;
}

