.book_rcm_container {
    -fx-background-color: #EEEEEE;
}

/* logo */
.logo_container {
    -fx-background-color: #132A13;
}

.logo_container FontAwesomeIconView {
    -fx-fill: #EEEEEE;
}

.logo_container Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 1.7em;
}

.logo_container Button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
}

.logo_container Button:hover {
    -fx-cursor: hand;
}

.logo_container Button:hover FontAwesomeIconView {
    -fx-effect: dropshadow(gaussian, rgba(173, 216, 230, 0.7), 30, 0.5, 0, 0);
}

.book_detail {
    -fx-background-color: #EEEEEE;
}

.book_detail Text {
    -fx-fill: #000000;
    -fx-font-size: 1.7em;
    -fx-font-family: "Calibri Light";
}

.book_detail Label {
    -fx-fill: #000000;
    -fx-font-size: 1.2em;
}

.book_detail .title {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.book_detail Button {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #132A13;
    -fx-border-width: 2px;
    -fx-text-fill: #132A13;
    -fx-font-size: 1.2em;
    -fx-alignment: left;
    -fx-graphic-text-gap: 20px;
    -fx-padding: 5px;
    -fx-border-radius: 10;
    -fx-background-radius: 11;
}

.book_detail Button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}