.dashboard {
    -fx-background-color: #EEEEEE;
}

/* title */
.title_container {
    -fx-background-color: #EEEEEE;
    -fx-alignment: top_center;
}

.title_container Label {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: "Calibri Light";
}

.title_container FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.title_container Button {
    -fx-background-color: #132A13;
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
    -fx-padding: 10px;
}

.title_container Button:hover {
    -fx-text-fill: #1A4314;
    /* -fx-background-color: rgba(19, 42, 19, 0.1); */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

/* textfiled để search */
.search_field {
    -fx-background-color: rgba(19, 42, 19, 0.05);
    -fx-border-color: #132A13;
    -fx-border-radius: 0 10px 10px 0;
    -fx-background-radius: 0 10px 10px 0;
    -fx-padding: 8px;
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.search_field:focused {
    -fx-border-color: #2a572a;
    -fx-background-color: #FFFFFF;
}

.search_field:hover {
    -fx-border-color: #2a572a;
}

/* search button */
.search_button {
    -fx-pref-width: 110;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10px 0 0 10px;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
    -fx-graphic-text-gap: 10px;
    -fx-font-size: 1.2em;
}

.search_button FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.search_button:hover {
    -fx-cursor: hand;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

/* choice box */
.choice-box {
    -fx-background-radius: 0 10px 10px 0;
    -fx-background-color: transparent;
}

.choice-box .arrow {
    -fx-background-color: transparent;
}

.choice-box:hover {
    -fx-cursor: hand;
}

.sort_by {
    -fx-fill: #696969;
}

.slider_fontawesome {
    -fx-fill: #132A13;
}

.line {
    -fx-stroke: #696969;
}

/* 2 vùng bên dưới */
.feature {
    -fx-background-color: #EEEEEE;
}

.feature FontAwesomeIconView {
    -fx-fill: #132A13;
}

.feature Label {
    -fx-fill: #132A13;
    -fx-font-size: 1.7em;
    -fx-font-family: "Calibri Light";
}

.feature Button {
    -fx-pref-width: 80;
    -fx-background-color: #132A13;
    -fx-text-fill: #FFFFFF;
}

.feature Button:hover {
    /* -fx-text-fill: #FFFFFF; */
    /* -fx-background-color: rgba(19, 42, 19, 0.1); */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}



/* SCROLL PANE */
.scroll-pane {
    -fx-border-color: #132A13;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #FFFFFF;
}

.scroll-pane .viewport {
    -fx-background-color: rgba(19, 42, 19, 0.1);
}

/* con lăn */
.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #132A13;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 7, 0.5, 0, 0);
}

/* hover con lăn */
.scroll-pane .scroll-bar:horizontal .thumb:hover,
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #1A4314;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

/* thanh cuộn */
.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #FFFFFF;
    -fx-padding: 2px;
}

/* nhấn vào thanh cuộn */
.scroll-pane .scroll-bar:horizontal .thumb:pressed,
.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #0B4619;
    -fx-opacity: 1.0;
}