.container {
    -fx-background-color: #EEEEEE;
}

.title1 {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:2.5em;
    -fx-font-weight: bold;
}

.title2 {
    -fx-text-fill: rgba(19, 42, 19, 0.3);
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.2em;
    -fx-font-weight: bold;
}

.search_surround {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* textfiled để search */
.search_field {
    -fx-background-color: rgba(19, 42, 19, 0.05);
    -fx-border-width: 1px;
    -fx-border-color: #132A13;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 0 0 0 50px;
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.search_field:focused {
    -fx-border-color: #2a572a;
    -fx-background-color: #FFFFFF;
}

.search_field:hover {
    -fx-border-color: #2a572a;
}

/* search button */
.search_button {
    -fx-pref-width: 50;
    -fx-background-color: transparent;
}

.search_button FontAwesomeIconView {
    -fx-fill: #132A13;
}

.search_button:hover {
    -fx-cursor: hand;
}

.sort_by {
    -fx-fill: #696969;
}

.slider_fontawesome {
    -fx-fill: #132A13;
}

.line {
    -fx-stroke: #696969;
}

/* choice box */
.type_Search_box {
    -fx-background-color: transparent;
}

.type_Search_box .arrow {
    -fx-background-color: transparent;
}

.type_Search_box:hover {
    -fx-cursor: hand;
}

.show_box {
    -fx-background-radius: 10px;
    -fx-background-color: rgba(19, 42, 19, 0.05);
}

.show_box .arrow {
    -fx-background-color: #132A13;
}

.show_box:hover {
    -fx-cursor: hand;
}

.part_1 {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-border-color: #D3D3D3;
    -fx-border-radius: 10px;
}

.part_2 {
    -fx-background-color: rgba(19, 42, 19, 0.05);
    -fx-background-radius: 10px;
    -fx-border-color: #132A13;
    -fx-border-radius: 10px;
}

.part_1 .title {
    -fx-text-fill: #132A13;
    -fx-font-family: "Segoe UI";
    -fx-font-size:1.5em;
    -fx-font-weight: bold;
}

.part_1 FontAwesomeIconView {
    -fx-fill: #132A13;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:horizontal .thumb,
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #132A13;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 7, 0.5, 0, 0);
}

.scroll-pane .scroll-bar:horizontal .thumb:hover,
.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #1A4314;
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 7, 0.7, 0, 0);
}

.scroll-pane .scroll-bar:horizontal,
.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 2px;
}

.scroll-pane .scroll-bar:horizontal .thumb:pressed,
.scroll-pane .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #0B4619;
    -fx-opacity: 1.0;
}

